In [25]:
# Import Dependancies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as st

In [26]:
# Read CSV.files
aob_2010 = pd.read_csv("data/aob_2010.csv")
aob_2015 = pd.read_csv("data/aob_2015.csv")
aob_2020 = pd.read_csv("data/aob_2020.csv")
nob_2010 = pd.read_csv("data/nob_2010.csv")
nob_2015 = pd.read_csv("data/nob_2015.csv")
nob_2020 = pd.read_csv("data/nob_2020.csv")

In [27]:
# Merged Files
df_2010 = pd.merge(aob_2010, nob_2010, on=["State or area", "County"], how='outer')
df_2015 = pd.merge(aob_2015, nob_2015, on=["State or area", "County"], how='outer')
df_2020 = pd.merge(aob_2020, nob_2020, on=["State or area", "County"], how='outer')

In [29]:
# Display column heads
df_2010.head()

,State or area,County,ANSI Code_x,Total_x,Retirement Retired workers_x,Retirement Spouses_x,Retirement Children_x,Survivors Widow(er)s and parents_x,Survivors Children_x,Disability Disabled workers_x,...,Retirement Retired workers_y,Retirement Spouses_y,Retirement Children_y,Survivors Widow(er)s and parents_y,Survivors Children_y,Disability Disabled workers_y,Disability Spouses_y,Disability Children_y,Aged 65 or older Men_y,Aged 65 or older Women_y
0,United States,NaN,NaN,"58,048,295","40,662,492","1,343,640","334,405","4,884,520","1,437,963","8,759,959",...,"40,662,492","1,343,640","334,405","4,884,520","1,437,963","8,759,959","45,925","579,391","21,573,964","21,319,204"
1,Alabama,Autauga,1001.0,"10,224","6,352",226,57,849,322,"2,221",...,"6,352",226,57,849,322,"2,221",12,186,"3,437","3,279"
2,Alabama,Baldwin,1003.0,"46,097","32,376","1,097",251,"3,694","1,005","7,164",...,"32,376","1,097",251,"3,694","1,005","7,164",39,470,"17,834","15,508"
3,Alabama,Barbour,1005.0,"6,213","3,636",107,31,499,186,"1,633",...,"3,636",107,31,499,186,"1,633",8,115,"1,986","1,858"
4,Alabama,Bibb,1007.0,"4,960","2,608",97,31,459,202,"1,442",...,"2,608",97,31,459,202,"1,442",8,114,"1,475","1,401"

In [30]:
# Rename columns in df_2010
df_2010.columns = ['State or area', 'County', 'ANSI Code_amount', 'Total_amount', 
        'Retirement Retired workers_amount', 'Retirement Spouses_amount',
        'Retirement Children_amount', 'Survivors Widow(er)s and parents_amount',
       'Survivors Children_amount', 'Disability Disabled workers_amount',
       'Disability Spouses_amount', 'Disability Children_amount',
       'Aged 65 or older Men_amount', 'Aged 65 or older Women_amount', 'ANSI Code_people',
       'Total_people', 'Retirement Retired workers_people', 'Retirement Spouses_people',
       'Retirement Children_people', 'Survivors Widow(er)s and parents_people',
       'Survivors Children_people', 'Disability Disabled workers_people',
       'Disability Spouses_people', 'Disability Children_people',
       'Aged 65 or older Men_people', 'Aged 65 or older Women_people']

In [31]:
# Rename columns in df_2015
df_2015.columns = ['State or area', 'County', 'ANSI Code_amount', 'Total_amount', 
        'Retirement Retired workers_amount', 'Retirement Spouses_amount',
        'Retirement Children_amount', 'Survivors Widow(er)s and parents_amount',
       'Survivors Children_amount', 'Disability Disabled workers_amount',
       'Disability Spouses_amount', 'Disability Children_amount',
       'Aged 65 or older Men_amount', 'Aged 65 or older Women_amount', 'ANSI Code_people',
       'Total_people', 'Retirement Retired workers_people', 'Retirement Spouses_people',
       'Retirement Children_people', 'Survivors Widow(er)s and parents_people',
       'Survivors Children_people', 'Disability Disabled workers_people',
       'Disability Spouses_people', 'Disability Children_people',
       'Aged 65 or older Men_people', 'Aged 65 or older Women_people']

In [32]:
# Rename columns in df_2020
df_2020.columns = ['State or area', 'County', 'ANSI Code_amount', 'Total_amount', 
        'Retirement Retired workers_amount', 'Retirement Spouses_amount',
        'Retirement Children_amount', 'Survivors Widow(er)s and parents_amount',
       'Survivors Children_amount', 'Disability Disabled workers_amount',
       'Disability Spouses_amount', 'Disability Children_amount',
       'Aged 65 or older Men_amount', 'Aged 65 or older Women_amount', 'ANSI Code_people',
       'Total_people', 'Retirement Retired workers_people', 'Retirement Spouses_people',
       'Retirement Children_people', 'Survivors Widow(er)s and parents_people',
       'Survivors Children_people', 'Disability Disabled workers_people',
       'Disability Spouses_people', 'Disability Children_people',
       'Aged 65 or older Men_people', 'Aged 65 or older Women_people']

In [33]:
# Sum of NaN values in df_2010
df_2010.isna().sum()

State or area                              0
County                                     7
ANSI Code_amount                           3
Total_amount                               0
Retirement Retired workers_amount          0
Retirement Spouses_amount                  0
Retirement Children_amount                 0
Survivors Widow(er)s and parents_amount    0
Survivors Children_amount                  0
Disability Disabled workers_amount         0
Disability Spouses_amount                  0
Disability Children_amount                 0
Aged 65 or older Men_amount                0
Aged 65 or older Women_amount              0
ANSI Code_people                           3
Total_people                               0
Retirement Retired workers_people          0
Retirement Spouses_people                  0
Retirement Children_people                 0
Survivors Widow(er)s and parents_people    0
Survivors Children_people                  0
Disability Disabled workers_people         0
Disability Spouses_people                  0
Disability Children_people                 0
Aged 65 or older Men_people                0
Aged 65 or older Women_people              0
dtype: int64

In [40]:
# Sum of NaN values in df_2015
df_2015.isna().sum()

State or area                              0
County                                     7
ANSI Code_amount                           4
Total_amount                               1
Retirement Retired workers_amount          1
Retirement Spouses_amount                  1
Retirement Children_amount                 1
Survivors Widow(er)s and parents_amount    1
Survivors Children_amount                  1
Disability Disabled workers_amount         1
Disability Spouses_amount                  1
Disability Children_amount                 1
Aged 65 or older Men_amount                1
Aged 65 or older Women_amount              1
ANSI Code_people                           4
Total_people                               1
Retirement Retired workers_people          1
Retirement Spouses_people                  1
Retirement Children_people                 1
Survivors Widow(er)s and parents_people    1
Survivors Children_people                  1
Disability Disabled workers_people         1
Disability Spouses_people                  1
Disability Children_people                 1
Aged 65 or older Men_people                1
Aged 65 or older Women_people              1
dtype: int64

In [41]:
# Sum of NaN values in df_2020
df_2020.isna().sum()

State or area                               0
County                                     10
ANSI Code_amount                           14
Total_amount                               11
Retirement Retired workers_amount          11
Retirement Spouses_amount                  11
Retirement Children_amount                 11
Survivors Widow(er)s and parents_amount    11
Survivors Children_amount                  11
Disability Disabled workers_amount         11
Disability Spouses_amount                  11
Disability Children_amount                 11
Aged 65 or older Men_amount                11
Aged 65 or older Women_amount              11
ANSI Code_people                           13
Total_people                               10
Retirement Retired workers_people          10
Retirement Spouses_people                  10
Retirement Children_people                 10
Survivors Widow(er)s and parents_people    10
Survivors Children_people                  10
Disability Disabled workers_people         10
Disability Spouses_people                  10
Disability Children_people                 10
Aged 65 or older Men_people                10
Aged 65 or older Women_people              10
dtype: int64

In [39]:
# Display NaN values in df_2010
df_2010[df_2010['County'].isna()]

,State or area,County,ANSI Code_amount,Total_amount,Retirement Retired workers_amount,Retirement Spouses_amount,Retirement Children_amount,Survivors Widow(er)s and parents_amount,Survivors Children_amount,Disability Disabled workers_amount,...,Retirement Retired workers_people,Retirement Spouses_people,Retirement Children_people,Survivors Widow(er)s and parents_people,Survivors Children_people,Disability Disabled workers_people,Disability Spouses_people,Disability Children_people,Aged 65 or older Men_people,Aged 65 or older Women_people
0,United States,NaN,NaN,"58,048,295","40,662,492","1,343,640","334,405","4,884,520","1,437,963","8,759,959",...,"40,662,492","1,343,640","334,405","4,884,520","1,437,963","8,759,959","45,925","579,391","21,573,964","21,319,204"
320,District of Columbia,NaN,11000.0,"72,460","50,851","1,029",444,"4,985","2,382","12,201",...,"50,851","1,029",444,"4,985","2,382","12,201",12,556,"24,745","29,386"
3158,Outlying areas,NaN,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3159,American Samoa,NaN,60000.0,"3,656","1,481",61,125,377,406,"1,056",...,"1,481",61,125,377,406,"1,056",12,138,905,751
3160,Guam,NaN,66000.0,"9,918","6,098",353,205,991,763,"1,360",...,"6,098",353,205,991,763,"1,360",12,136,"3,621","2,859"
3161,Northern Mariana\n Islands,NaN,69000.0,"1,346",768,36,72,146,152,159,...,768,36,72,146,152,159,1,12,477,284
3243,Foreign countries,NaN,NaN,"320,754","209,415","22,312","3,925","60,530","10,099","13,066",...,"209,415","22,312","3,925","60,530","10,099","13,066",204,"1,203","137,211","133,132"

In [42]:
# Display NaN values in df_2015
df_2015[df_2015['County'].isna()]

,State or area,County,ANSI Code_amount,Total_amount,Retirement Retired workers_amount,Retirement Spouses_amount,Retirement Children_amount,Survivors Widow(er)s and parents_amount,Survivors Children_amount,Disability Disabled workers_amount,...,Retirement Retired workers_people,Retirement Spouses_people,Retirement Children_people,Survivors Widow(er)s and parents_people,Survivors Children_people,Disability Disabled workers_people,Disability Spouses_people,Disability Children_people,Aged 65 or older Men_people,Aged 65 or older Women_people
0,United States,NaN,NaN,"73,642,029","53,790,278","1,612,415","422,191","5,194,659","1,575,147","10,386,494",...,"40,089,061","2,335,807","648,530","4,190,676","1,892,885","8,909,430","141,760","1,755,276","19,144,628","24,098,571"
3155,Outlying areas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3156,American Samoa,NaN,60000.0,"4,338","1,999",79,108,447,400,"1,162",...,"2,277",208,278,607,804,"1,331",54,677,"1,221","1,348"
3157,Guam,NaN,66000.0,"13,555","8,950",455,259,"1,230",804,"1,694",...,"9,919","1,057",602,"1,472","1,291","1,642",67,578,"5,283","5,651"
3158,Northern Mariana Islands,NaN,69000.0,"1,742","1,061",42,71,194,164,195,...,"1,489",116,186,311,315,249,10,74,799,723
3240,Foreign countries,NaN,NaN,"402,455","272,517","29,706","5,265","70,326","11,155","12,000",...,"390,368","104,546","10,851","92,364","14,608","10,773",529,"3,191","264,860","290,151"
3241,Unknown,NaN,NaN,"2,318","1,787",46,8,252,35,181,...,"1,363",75,12,215,38,142,3,26,784,817

In [43]:
# Display NaN values in df_2020
df_2020[df_2020['County'].isna()]

,State or area,County,ANSI Code_amount,Total_amount,Retirement Retired workers_amount,Retirement Spouses_amount,Retirement Children_amount,Survivors Widow(er)s and parents_amount,Survivors Children_amount,Disability Disabled workers_amount,...,Retirement Retired workers_people,Retirement Spouses_people,Retirement Children_people,Survivors Widow(er)s and parents_people,Survivors Children_people,Disability Disabled workers_people,Disability Spouses_people,Disability Children_people,Aged 65 or older Men_people,Aged 65 or older Women_people
0,United States,NaN,NaN,"58,048,295","40,662,492","1,343,640","334,405","4,884,520","1,437,963","8,759,959",...,"46,329,595","2,324,030","704,207","3,938,577","1,936,071","8,151,016","104,014","1,363,357","22,310,264","27,516,391"
320,District of Columbia,NaN,11000.0,"72,460","50,851","1,029",444,"4,985","2,382","12,201",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3156,Outlying areas,NaN,NaN,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3157,American Samoa,NaN,60000.0,"3,656","1,481",61,125,377,406,"1,056",...,"2,629",189,224,596,671,"1,271",39,480,"1,378","1,508"
3158,Guam,NaN,66000.0,"9,918","6,098",353,205,991,763,"1,360",...,"12,566","1,065",522,"1,565","1,199","1,548",61,506,"6,533","7,027"
3159,Northern Mariana\n Islands,NaN,69000.0,"1,346",768,36,72,146,152,159,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3241,Foreign countries,NaN,NaN,"320,754","209,415","22,312","3,925","60,530","10,099","13,066",...,"441,268","115,815","11,693","99,618","13,420","8,869",395,"2,843","303,252","328,949"
3250,Outlying areas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3251,Northern Mariana Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"2,010",133,167,314,323,281,6,76,"1,041",990
3252,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,717,41,7,108,19,81,1,22,387,451

In [52]:
# Drop outlying areas in df_2010
df_2010.drop(df_2010[df_2010['State or area'].str.contains('Outlying areas')].index, inplace=True)

In [59]:
# Display clean DataFrame for df_2010
df_2010[df_2010['County'].isna()]

,State or area,County,ANSI Code_amount,Total_amount,Retirement Retired workers_amount,Retirement Spouses_amount,Retirement Children_amount,Survivors Widow(er)s and parents_amount,Survivors Children_amount,Disability Disabled workers_amount,...,Retirement Retired workers_people,Retirement Spouses_people,Retirement Children_people,Survivors Widow(er)s and parents_people,Survivors Children_people,Disability Disabled workers_people,Disability Spouses_people,Disability Children_people,Aged 65 or older Men_people,Aged 65 or older Women_people
0,United States,NaN,NaN,"58,048,295","40,662,492","1,343,640","334,405","4,884,520","1,437,963","8,759,959",...,"40,662,492","1,343,640","334,405","4,884,520","1,437,963","8,759,959","45,925","579,391","21,573,964","21,319,204"
320,District of Columbia,NaN,11000.0,"72,460","50,851","1,029",444,"4,985","2,382","12,201",...,"50,851","1,029",444,"4,985","2,382","12,201",12,556,"24,745","29,386"
3159,American Samoa,NaN,60000.0,"3,656","1,481",61,125,377,406,"1,056",...,"1,481",61,125,377,406,"1,056",12,138,905,751
3160,Guam,NaN,66000.0,"9,918","6,098",353,205,991,763,"1,360",...,"6,098",353,205,991,763,"1,360",12,136,"3,621","2,859"
3161,Northern Mariana\n Islands,NaN,69000.0,"1,346",768,36,72,146,152,159,...,768,36,72,146,152,159,1,12,477,284
3243,Foreign countries,NaN,NaN,"320,754","209,415","22,312","3,925","60,530","10,099","13,066",...,"209,415","22,312","3,925","60,530","10,099","13,066",204,"1,203","137,211","133,132"

In [54]:
# Drop outlying areas in df_2015
df_2015.drop(df_2015[df_2015['State or area'].str.contains('Outlying areas')].index, inplace=True)

In [56]:
# Display clean DataFrame for df_2015
df_2015[df_2015['County'].isna()]

,State or area,County,ANSI Code_amount,Total_amount,Retirement Retired workers_amount,Retirement Spouses_amount,Retirement Children_amount,Survivors Widow(er)s and parents_amount,Survivors Children_amount,Disability Disabled workers_amount,...,Retirement Retired workers_people,Retirement Spouses_people,Retirement Children_people,Survivors Widow(er)s and parents_people,Survivors Children_people,Disability Disabled workers_people,Disability Spouses_people,Disability Children_people,Aged 65 or older Men_people,Aged 65 or older Women_people
0,United States,NaN,NaN,"73,642,029","53,790,278","1,612,415","422,191","5,194,659","1,575,147","10,386,494",...,"40,089,061","2,335,807","648,530","4,190,676","1,892,885","8,909,430","141,760","1,755,276","19,144,628","24,098,571"
3156,American Samoa,NaN,60000.0,"4,338","1,999",79,108,447,400,"1,162",...,"2,277",208,278,607,804,"1,331",54,677,"1,221","1,348"
3157,Guam,NaN,66000.0,"13,555","8,950",455,259,"1,230",804,"1,694",...,"9,919","1,057",602,"1,472","1,291","1,642",67,578,"5,283","5,651"
3158,Northern Mariana Islands,NaN,69000.0,"1,742","1,061",42,71,194,164,195,...,"1,489",116,186,311,315,249,10,74,799,723
3240,Foreign countries,NaN,NaN,"402,455","272,517","29,706","5,265","70,326","11,155","12,000",...,"390,368","104,546","10,851","92,364","14,608","10,773",529,"3,191","264,860","290,151"
3241,Unknown,NaN,NaN,"2,318","1,787",46,8,252,35,181,...,"1,363",75,12,215,38,142,3,26,784,817

In [57]:
# Drop outlying areas in df_2020
df_2020.drop(df_2020[df_2020['State or area'].str.contains('Outlying areas')].index, inplace=True)

In [58]:
# Display clean DataFrame for df_2020
df_2020[df_2020['County'].isna()]

,State or area,County,ANSI Code_amount,Total_amount,Retirement Retired workers_amount,Retirement Spouses_amount,Retirement Children_amount,Survivors Widow(er)s and parents_amount,Survivors Children_amount,Disability Disabled workers_amount,...,Retirement Retired workers_people,Retirement Spouses_people,Retirement Children_people,Survivors Widow(er)s and parents_people,Survivors Children_people,Disability Disabled workers_people,Disability Spouses_people,Disability Children_people,Aged 65 or older Men_people,Aged 65 or older Women_people
0,United States,NaN,NaN,"58,048,295","40,662,492","1,343,640","334,405","4,884,520","1,437,963","8,759,959",...,"46,329,595","2,324,030","704,207","3,938,577","1,936,071","8,151,016","104,014","1,363,357","22,310,264","27,516,391"
320,District of Columbia,NaN,11000.0,"72,460","50,851","1,029",444,"4,985","2,382","12,201",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3157,American Samoa,NaN,60000.0,"3,656","1,481",61,125,377,406,"1,056",...,"2,629",189,224,596,671,"1,271",39,480,"1,378","1,508"
3158,Guam,NaN,66000.0,"9,918","6,098",353,205,991,763,"1,360",...,"12,566","1,065",522,"1,565","1,199","1,548",61,506,"6,533","7,027"
3159,Northern Mariana\n Islands,NaN,69000.0,"1,346",768,36,72,146,152,159,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3241,Foreign countries,NaN,NaN,"320,754","209,415","22,312","3,925","60,530","10,099","13,066",...,"441,268","115,815","11,693","99,618","13,420","8,869",395,"2,843","303,252","328,949"
3251,Northern Mariana Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"2,010",133,167,314,323,281,6,76,"1,041",990
3252,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,717,41,7,108,19,81,1,22,387,451